<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="filestore_result_dir" value="FileStore_Result" />
    <add key="template_file" value="NAP567.csv" />

    <!--信箱設定-->
    <add key="MailAccount" value="ebank" />
    <add key="SMTPPort" value="25" />
    <add key="UserFrom" value="ebank@ddd.com.tw" />
    <add key="SMTP" value="172.xxx.xxx.xxx" />
    <add key="MailPassword" value="password" />
    <add key="MailSSL" value="N" />
    <add key="SendTo" value="jjj@ddd.com.tw" />
  </appSettings>
</configuration>